In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [ ]:
df = pd.read_csv("/content/melb_data.csv")
df.head(5)

,Unnamed: 0,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,5,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,6,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

In [ ]:
df.nunique()

Unnamed: 0       18396
Suburb             330
Address          18134
Rooms               11
Type                 3
Price             2470
Method               5
SellerG            305
Date                58
Distance           210
Postcode           205
Bedroom2            12
Bathroom             9
Car                 11
Landsize          1449
BuildingArea       613
YearBuilt          144
CouncilArea         33
Lattitude         7518
Longtitude        8168
Regionname           8
Propertycount      324
dtype: int64

In [ ]:
#Dropping one unnammed column
df=df.drop("Unnamed: 0",axis=1) 
df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

In [ ]:
cols_to_use=["Suburb","Rooms","Type","Method","SellerG","Regionname","Propertycount","Distance","CouncilArea",
             "Bedroom2","Bathroom","Car","Landsize","BuildingArea","Price"]
df=df[cols_to_use]
df.shape

(18396, 15)

In [ ]:
df.isna().sum()

Suburb               0
Rooms                0
Type                 0
Method               0
SellerG              0
Regionname           1
Propertycount        1
Distance             1
CouncilArea       6163
Bedroom2          3469
Bathroom          3471
Car               3576
Landsize          4793
BuildingArea     10634
Price                0
dtype: int64

In [ ]:
cols_to_fill_zero=["Propertycount","Bedroom2","Bathroom","Car"]
df[cols_to_fill_zero]=df[cols_to_fill_zero].fillna(0)
df.isna().sum()

Suburb               0
Rooms                0
Type                 0
Method               0
SellerG              0
Regionname           1
Propertycount        0
Distance             1
CouncilArea       6163
Bedroom2             0
Bathroom             0
Car                  0
Landsize          4793
BuildingArea     10634
Price                0
dtype: int64

In [ ]:
df['Landsize']=df['Landsize'].fillna(df.Landsize.mean())
df['BuildingArea']=df['BuildingArea'].fillna(df.BuildingArea .mean())
df.isna().sum()

In [ ]:
df.dropna(inplace=True)
df.isna().sum()

Suburb           0
Rooms            0
Type             0
Method           0
SellerG          0
Regionname       0
Propertycount    0
Distance         0
CouncilArea      0
Bedroom2         0
Bathroom         0
Car              0
Landsize         0
BuildingArea     0
Price            0
dtype: int64

## **Converting text or categorical data into numerical data(using one hot encoding)**

In [ ]:
df=pd.get_dummies(df,drop_first=True)
df.head()

,Rooms,Propertycount,Distance,Bedroom2,Bathroom,Car,Landsize,BuildingArea,Price,Suburb_Aberfeldie,...,CouncilArea_Moreland,CouncilArea_Nillumbik,CouncilArea_Port Phillip,CouncilArea_Stonnington,CouncilArea_Unavailable,CouncilArea_Whitehorse,CouncilArea_Whittlesea,CouncilArea_Wyndham,CouncilArea_Yarra,CouncilArea_Yarra Ranges
0,2,4019.0,2.5,2.0,1.0,1.0,202.0,151.220219,1480000.0,0,...,0,0,0,0,0,0,0,0,1,0
1,2,4019.0,2.5,2.0,1.0,0.0,156.0,79.000000,1035000.0,0,...,0,0,0,0,0,0,0,0,1,0
2,3,4019.0,2.5,3.0,2.0,0.0,134.0,150.000000,1465000.0,0,...,0,0,0,0,0,0,0,0,1,0
3,3,4019.0,2.5,3.0,2.0,1.0,94.0,151.220219,850000.0,0,...,0,0,0,0,0,0,0,0,1,0
4,4,4019.0,2.5,3.0,1.0,2.0,120.0,142.000000,1600000.0,0,...,0,0,0,0,0,0,0,0,1,0

In [ ]:
X=df.drop("Price",axis=1)
Y=df['Price']

In [ ]:
xTrain, xtest, yTrain, ytest = train_test_split(X,Y, test_size=0.2,random_state=2)

## **Using Linear regression model**

In [ ]:
from sklearn.linear_model import LinearRegression
reg=LinearRegression().fit(xTrain,yTrain)

In [ ]:
reg.score(xtest,ytest)

-14005753541.575026

In [ ]:
reg.score(xTrain,yTrain)

0.7101063632767726

## **Linear Model trained with L1 prior as regularizer (aka the Lasso)**

1.   List item
2.   List item

In [ ]:
from sklearn import linear_model
lasso_reg=linear_model.Lasso(alpha=50,max_iter=100,tol=0.1)
lasso_reg.fit(xTrain,yTrain)

In [ ]:
lasso_reg.score(xtest,ytest)

0.6591037002248199

In [ ]:
lasso_reg.score(xTrain,yTrain)

0.7057241259632268

## **Linear model with L2 regularization**

In [ ]:
ridge_reg=linear_model.Ridge(alpha=60,max_iter=100,tol=0.1)
ridge_reg.fit(xTrain,yTrain)

Ridge(alpha=60, max_iter=100, tol=0.1)

In [ ]:
ridge_reg.score(xtest,ytest)

0.6528716552751747

In [ ]:
ridge_reg.score(xTrain,yTrain)

0.6770503280280786